@font-face{
    font-family: bold;
    src: url(Montserrat-ExtraBold.ttf);
}

@font-face{
    font-family: medium;
    src: url(Montserrat-Medium.ttf);
}


@font-face{
    font-family:Black;
    src: url(Montserrat-Black.ttf);
}


