.about{
    padding: 90px 0px;
  .about-inner{
    align-items: center;
   


    h1{
      font-family: bold;
    }

    .about-two{
        p{
            
            font-family: medium;
            margin-top: 10px;
            width: 100%;
        }

        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
  } 
  
  .pics{
    padding-top: 100px;

    
    img{
        width: 200px;
        margin-top: 10px;
    }
  }
}

@media (max-width: 568px){
  body{
    overflow-x: hidden;
  }
  
    .about{
      padding: 0 auto;
      .about-inner{
        text-align: center;
        h1{
         
        }
        p{
          width: 200px;
        }
        
      }
    }
}