.footer{
    background-color: #261B6c;
    color: #ffffff;
    border-radius: 5px;
    font-family: bold;

    p{
        font-family: medium;
    }
    .top{
        display: flex;
        hr{
            width: 40%;
            height: 0px;
            margin-top: 80px;
        }
        img{
            width: 60px;
        }
    }
    .mid{
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        .first{
            
            .images{
                
                img{
                    width: 100px;
                    margin-right: 30px;
                }
            }
        }

        .second{
            margin-left: 30px;
        }
    }

    .bottom{
        padding: 10px 40px;
        hr{
            width: 96%;
        }
        .text{
            display: flex;
            justify-content: space-between;
        }
    }
}