.footer{
    background-color: #261B6c;
    color: #ffffff;
    border-radius: 5px;
    font-family: bold;

    p{
        font-family: medium;
    }
    
    .mid{
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        .first{
            
            .images{
                
                img{
                   
                    margin-right: 30px;
                }
            }
        }

        .second{
            margin-left: 30px;
        }
    }

    .bottom{
        padding: 10px 40px;
        hr{
          
        }
        .text{
            display: flex;
            justify-content: space-between;
        }
    }
}