.footer{
    background-color: #261B6c;
    color: #ffffff;
    border-radius: 5px;
    font-family: bold;

    .top{
        text-align: center;
        align-items: center;
        padding: 0px 40px;

        .hr2{
            margin-top: 95px;
            width: 98%;
            border-width: 3px;
        //    margin-right: 100px;
        }
         .hr1{
            margin-top: 95px;
            width: 98%;
            border-width: 3px;
            margin-left: 10px;
            background-color: #ffffff;
        }
        img{
            width: 50%;
        }
    }

    p{
        font-family: medium;
    }
    
    .mid{
        padding: 10px 40px;
        
        .first{
            
            // .images{
                
            //     img{
                   
            //         margin-right: 30px;
            //     }
            // }
        }

        .second{
            margin-left: 30px;
        }
        .third{
            margin-left: 30px;
        }
        .forth{
            margin-left: 30px;
        }
    }

    .bottom{
        padding: 10px 40px;
        hr{
            border-width: 3px;
        }
        .text{
           display: flex;
           justify-content: space-between;
            .two{
                span{
                    color: #C6A460;
                    font-family: bold;
                }
            }
        }
    }
}


@media (max-width: 320px){
    .footer{
        .mid{
            .first{
                text-align: center;
                width: 100%;
                padding: auto;
                .images{
                    width: 100%;
                    img{
                        width: 50px;
                        flex-direction: column-reverse;
                        margin-top: 20px;
                    }
                }
            }

            .second{
                margin-top: 20px;
                margin: 30px auto;
            }
        }
    }
}


@media (max-width: 425px){
    .footer{
        .mid{
            .first{
                text-align: center;
                width: 100%;
                padding: auto;
                .images{
                    width: 100%;
                    flex-direction: column-reverse;
                    img{
                        width: 50px;
                        
                        margin-top: 20px;
                    }
                }
            }

            .second{
                margin-top: 20px;
                margin: 30px auto;
            }
        }
    }
}