.hero{
   
    justify-content: space-between;
    padding: 90px 50px;
    background-color: #261B6C;
    color: #ffffff;
    border-radius: 10px;
    .hero-inner1{
        
        h1{
            width: 300px;
            margin-top: 50px;
            font-family: bold;
            span{
                text-decoration: underline;
                text-decoration-color: #B2904C;
            }
        }
        p{
            width: 300px;
            font-family: medium;
        }
        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
            font-family: bold;
            color: #ffffff;
            background-color: #B2904C;
           }

            button:hover{
            
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }




    .hero-inner2{
        img{
            width: 150px;
            height: 350px;
            margin-right: 10px;
        }
        img:hover{
            transform: scale(1.30);
            transition-duration: 200ms;
        }
    }
}






@media (max-width: 568px) {
    .hero{
        text-align: center;

        .hero-inner1{
            h1{
               margin: 0 auto;
            }
            p{
                margin: 0 auto;
                margin-top: 30px;
            }
        }

        .hero-inner2{
            img{
                display: none;
            }
        }
    }
}


@media (max-width: 768px) {
    .hero{
        text-align: center;
        width: 100%;

        .hero-inner1{
            h1{
               margin: 0 auto;
            }
            p{
                margin: 0 auto;
                margin-top: 30px;
            }
        }

        .hero-inner2{
            img{
                display: none;
            }
        }
    }
}













