
.hero{
   
    justify-content: space-between;
    padding: 90px 50px;
    background-color: #261B6C;
    color: #ffffff;
    border-radius: 10px;
    .hero-inner1{
        
        h1{
            width: 300px;
            margin-top: 50px;
            font-family: bold;
            // span{
            //     text-decoration: underline;
            //     text-decoration-color: #B2904C;
            // }
        }
        p{
            width: 300px;
            font-family: medium;
        }
        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
            font-family: bold;
            color: #ffffff;
            background-color: #B2904C;
           }

            button:hover{
            
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }




    .hero-inner2{
        img{
            width: 150px;
            height: 350px;
            margin-right: 10px;
        }
        img:hover{
            transform: scale(1.30);
            transition-duration: 200ms;
        }
    }
}


.about{
    padding: 90px 0px;
  .about-inner{
    align-items: center;
   


    h1{
      font-family: bold;
    }

    .about-two{
        p{
            
            font-family: medium;
            margin-top: 10px;
            width: 100%;
        }

        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
  } 
  
  .pics{
    padding-top: 100px;

    
    img{
        width: 200px;
        margin-top: 10px;
    }
  }
}

.products{
    text-align: center;
    padding: 50px 10px;
    background-color: #f8f8f8;
    font-family: bold;
    
   h1{

   }
    
    .pics{
        
       margin: 50px 0;
        

        .product{
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 10px;
            margin-top: 10px;


            
            img{
                width: 100%;
                height: 100%;

            }

            


            h3{
                position: absolute;
                bottom: -15px;
                background: linear-gradient(to bottom,transparent, black);
                width: 100%;
                color: #ffffff;
                text-align: left;
                font-family: bold;
                
            }

        }

    }
    
     button{
            border-radius: 3px;
            border: none;
            width: 280px;
            height: 30px;
            font-family: bold;
            color: #ffffff;
            background-color: #B2904C;
           }

            button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
   
}


.booking{
    padding: 90px 0;
   
    .text{
        font-family: bold;
        padding: 10rem 30px;
        
        p{
            width:90%;
            font-family: medium;
            margin: 20px;
            margin-right: 30px;
        }

        button{
            border-radius: 3px;
            border: none;
            width: 100%;
            height: 30px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }

     

    .pic{
    
        img{
            // width: 400px;
        }
    }
}

.donations{
    padding: 90px 30px;
    
    background-color: #f8f8f8;

   

    .text{
        padding: 10rem 30px;

        h1{
            font-family: bold;
        }
        p{
            width: 100%;
            font-family: medium;
           margin: 30px 0;
        }
        
        
        button{
            border-radius: 3px;
            border: none;
            width: 200px;
            height: 30px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
}

.kids-corner{
    display: flex;
    background-color: #261B6C;
    color: #ffffff;
   margin: 90px 0;
   
    .pics{
        display: flex;
        width: 45%;
       img{
        width: 400px;
        height: 400px;
       
       }
       .kadiki{
        width: 100px;
        height: 100px;
       margin-top: 400px;
        
       }

       .mushroom{
        width: 100px;
        height: 100px;
       margin-top: 400px;
       
       
       }
    }

    .text{
        padding: 80px;
        text-align: center;
        font-family: medium;
        p{
          margin: 30px 0;
        }

        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
            font-family: bold;
            color: #ffffff;
            background-color: #FF4655;
           }

           button:hover{
            background-color:#B2904C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
}


.notifications{
    
    background-color:#B2904C ;
    height: 60vh;
    padding: 90px 0;
    margin: 60px 0;
    border-radius: 10px;

    .text{
       
        color: #ffffff;
        padding: 2px 40px;
       
        h1{
            font-family: bold;
              width: 80%;
        }


        
            .form{
                .the-form{
                    position: relative;
                    color: #ffffff;
                   .email{
                      background-color: #C6A460;
                      width: 90%;
                      height: 45px;
                       border: none;
                       color: #ffffff;
                       border-radius: 5px;
                   }
                   .btn{
                    position: absolute;
                    right: 109px;
                    background-color: #261B6C;
                    color: #ffffff;
                    margin-top: 3px;
                    width: 100px;
                }
                }

                
            
        }
    }

    
       
       
        .img{
          
           width: 200px;
             
        }
    
}


@media (max-width: 320px) {
    body{
        overflow-x: hidden;
    }
    .hero{
        text-align: center;

        .hero-inner1{
          text-align: center;
            h1{
               margin: 0 auto;
               width: 100%;
            }
            p{
                margin: 0 auto;
                margin: 30px 0;
                width: 100%;
            }
        }

        .hero-inner2{
            img{
                display: none;
            }
        }
    }
    
    .products{
      .pics{
        text-align: center;
        .product{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }
    
    .booking{
      .text{
        text-align: center;
        h1, p{
          width: 100%;
        }
      }
    }

    .donations{
      text-align: center;
      .pic{
        img{
          width: 100%;
        }
      }
    }

    .kids-corner{
      .pics{
        img{
          display: none;
        }
      }
    }
}


@media (max-width: 425px) {
    .hero{
        text-align: center;
        width: 100%;

       .hero-inner1{
          text-align: center;
            h1{
               margin: 0 auto;
               width: 100%;
            }
            p{
                margin: 0 auto;
                margin: 30px 0;
                width: 100%;
            }
        }

        .hero-inner2{
            img{
                display: none;
            }
        }
    }

    .products{
      .pics{
        text-align: center;
        .product{
          width: 100%;
          img{
            width: 100%;
          }
        }
      }
    }

    .donations{
      text-align: center;
      .pic{
        img{
          width: 100%;
        }
      }
    }

     .kids-corner{
      .pics{
        img{
          display: none;
        }
      }
    }
}


/* General Styles */



/* Responsive Styles */

@media (max-width: 768px) {
  .card {
    width: 90%; /* Adjust card width */
    margin: 10px auto; /* Center cards */
  }

  .hero {
    padding: 50px 20px; /* Adjust padding */
    flex-direction: column-reverse; /* Stack hero elements */
    align-items: center;
    text-align: center;
    
  }

  .hero-inner1 h1,
  .hero-inner1 p {
    width: 80%; /* Allow text to take full width */
    text-align: center; /* Center text */
  }

  
  .hero-inner2 img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
   
  }

  .about {
    padding: 50px 20px; /* Adjust padding */
  }

  .products .pics {
    flex-direction: column; /* Stack products */
    align-items: center; /* Center products */
    width: 300px;
  }

  .products .product img{
    width: 100%; /* Adjust product width */
    margin: 10px 0; /* Add margin */
  }

  .booking {
    flex-direction: column; /* Stack booking elements */
    align-items: center; /* Center elements */
  }

  .kids-corner {
    flex-direction: column; /* Stack kids corner */
    text-align: center; /* Center text */
    .pic{
      img{
        display: none;
      }
    }
    .text{
      p{
        width: 100%;
      }
    }
  }

  .donations{
      text-align: center;
      .pic{
        img{
          width: 80%;
        }
      }
    }

  .notifications .img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    display: none;
  }

  .kids-hero .hero-inner .one {
    width: 90%; /* Adjust width */
    margin: 0 auto; /* Center the element */
  }

  .maze .pic .maze {
    width: 100%; /* Make maze responsive */
  }

  .pacman .pic img {
    width: 100%; /* Make pacman image responsive */
    height: auto; /* Maintain aspect ratio */
  }
}











