.kids-corner{
    display: flex;
    background-color: #261B6C;
    color: #ffffff;
   margin: 90px 0;
   
    .pics{
        display: flex;
        width: 45%;
       .mario{
        width: 500px;
        height: 500px;
        transform: scale(1.1);
       }
       .kadiki{
        width: 100px;
        height: 100px;
       margin-top: 400px;
        
       }

       .mushroom{
        width: 100px;
        height: 100px;
       margin-top: 400px;
       
       
       }
    }

    .text{
        padding-top: 220px;
        text-align: center;
        font-family: medium;

        button{
            border-radius: 3px;
            border: none;
            width: 150px;
            height: 30px;
            font-family: bold;
            color: #ffffff;
            background-color: #FF4655;
           }

           button:hover{
            background-color:#B2904C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
}