#tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  position: relative;
  margin: 0;
}

#tabs button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tabs button .indicator {
  width: 10%;
  height: 5px;
  background: #BA8F55;
  position: absolute;
  bottom: -10px;
}

.tab-content {
  padding: 20px;
}
#hr{
  position: relative;
}
.cards1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

h1{
  font-family: black;
}
.tab-content{
  .cards1{
    .card{
      color: #261B6C;
      h1{
        font-family: bold;
        font-size: 25px;

      }

      p{
          font-family: bold;
         
        }
    }
  }
}