.kids-hero{
    margin: 80px 0;
    .hero-inner{
        .one{
            margin: 80px 0;
            width: 350px;
        }

        
    }
}




.maze{
    background-color: #018BF1;
    color: #ffffff;
    padding: 25px 0;
    border-radius: 10px;
    margin: 30px 0;
    .text{
        padding-top: 100px;
        h2{
            font-family: bold;
        }
        p{
            
        }
       
        button{
            border-radius: 3px;
            margin-top: 20px;
            border: none;
            width: 150px;
            height: 35px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #261B6C;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }

    .pic{
        .maze{
            width: 400px;
            // margin-left: 80px;
        }
    }
}


.risky{
   background-color: #FF4655;
    color: #ffffff;
    padding: 25px 0;
    border-radius: 10px;
    margin: 30px 0;
    .container{
        padding: 60px 0;
        .text{
       
        h2{
            font-family: bold;
        }
        

        button{
            border-radius: 3px;
            margin-top: 20px;
            border: none;
            width: 150px;
            height: 35px;
              background-color: #ffffff;
              color: #FF4655;
              font-family: bold;
           }

           button:hover{
            background-color: #018BF1;
            transform: scale(1.2);
            transition-duration: 100ms;
            color: #fff   ;
           }
    }
    }
     






        
}




.pacman{
    background-color: #261B6C;
    color: #ffffff;
    margin: 30px 0;
    border-radius: 10px;
    .text{
        padding-top: 100px;
        h2{
            font-family: bold;
        }
       
        button{
            border-radius: 3px;
            margin-top: 20px;
            border: none;
            width: 150px;
            height: 35px;
              background-color: #B2904C;
              color: #fff;
              font-family: bold;
           }

           button:hover{
            background-color: #FF4655;
            transform: scale(1.2);
            transition-duration: 100ms;
           }
    }
    .pic{
        img{
            width: 500px;
        }
    }
}

