.promises{
    display: flex;
    padding: 90px 0;
    .pic{
        width: 50%;
        padding: 20px 40px;
        img{
            width: 100%;
        }
    }


    .text{
       width: 50%;
       padding: 20px 40px;

    }
}